$nav-item-svg-fill: white;
$body-bg          : rgb(224, 213, 193);
$header-bg        : rgb(168, 210, 111);
$nav-bg           : rgb(177, 165, 114);
$sidebar-headers  : rgb(177, 165, 114);

$green       : #82be38;
$blue        : #23a5bf;
$red         : #e2544a;

// $orange      : #a95a2a;
// $brown       : #987c4a;
$purple      : #553b4e;
// $teal        : #678586;

$rss         : #FF6600;
$tumblr      : #2d4661;
$newsletter  : green;
$facebook    : #3b5998;
$pinterest   : #C92228;
$instagram   : #9d7043;
$stampinup   : #6796a6;

// FONTS
// <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,900" type="text/css">
// <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Calligraffitti" type="text/css">

@import url(http://fonts.googleapis.com/css?family=IM+Fell+French+Canon:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

$header-script : 'Covered By Your Grace';
$title-font    : 'Covered By Your Grace';
$nav-font      : 'Covered By Your Grace';
$body-font     : 'IM Fell French Canon';