$bg-shape-color: rgb(255, 218, 185);

$green       : #82be38;
$blue        : #23a5bf;
$red         : #e2544a;

$orange      : #a95a2a;
$brown       : #987c4a;
$purple      : #553b4e;
$teal        : #678586;

$rss         : #FF6600;
$tumblr      : #2d4661;
$newsletter  : green;
$facebook    : #3b5998;
$pinterest   : #C92228;

// FONTS
// <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,900" type="text/css">
// <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Calligraffitti" type="text/css">

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Calligraffitti);
@import url(http://fonts.googleapis.com/css?family=Bell+MT);
@import url(http://fonts.googleapis.com/css?family=Footlight+MT+Light);
@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
@import url(http://fonts.googleapis.com/css?family=Georgia);

$header-script : 'Calligraffitti';
$title-font    : 'EB Garamond';
$body-font     : 'EB Garamond';

// Bell MT
// Footlight MT Light
// Garamond
// Georgia
